<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace表示映射的接口-->
<mapper namespace="com.example.demo.mapper.BatchMapper">
    <insert id="addBatch">

    </insert>

    <delete id="delBatch">

    </delete>

    <update id="changeBatch">

    </update>

    <select id="queryBatchList">

    </select>

</mapper>